<footer class="animate__animated animate__fadeIn text-center text-xs pb-2 pt-4 text-gray-900 font-medium">
    <p>
        Self developed website. Hosted in GitHub Pages. <br />
        ©March 2026 <br />Sonadanga, Khulna-9100, Bangladesh.
    </p>
    <p class="flex justify-center mt-2">
        <a href="https://hits.dwyl.com/kazirifatmorshed/kazirifatmorshed.github.io">
            <img src="https://hits.dwyl.com/kazirifatmorshed/kazirifatmorshed.github.io.svg" alt="Hits" class="mx-auto" />
        </a>
    </p>
</footer>
