<header class="animate__animated animate__fadeInDown">
    <a href="{{ site.baseurl }}/" id="link-home" alt="Homepage">
        <h1>
            Kazi Rifat Morshed
            <sup><i class="fa-solid fa-arrow-up-right-from-square fa-2xs"></i></sup>
        </h1>
        <p>Undergraduate Student (B.Sc. Engg.) of Computer Science and Engineering (CSE)</p>
    </a>
    <button type="button" id="ShortcutsNavigationBar" onclick="showAsideBar()">
        <i class="fa-solid fa-chevron-down fa-sm" style="color: #000000"></i>
        Navigation Bar (Shortcuts)
    </button>
</header>
